[submodule ".zsh/zsh-history-substring-search"]
	path = .zsh/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule ".zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".zsh/zsh-completions"]
	path = .zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule ".zsh/base16-shell"]
	path = .zsh/base16-shell
	url = https://github.com/chriskempson/base16-shell
[submodule ".vim/bundle/neobundle.vim"]
  path = .vim/bundle/neobundle.vim
  url = https://github.com/Shougo/neobundle.vim
[submodule ".zsh/pure"]
	path = .zsh/pure
	url = https://github.com/sindresorhus/pure
[submodule ".zsh/k"]
	path = .zsh/k
	url = https://github.com/supercrabtree/k
[submodule ".zsh/autojump"]
	path = .zsh/autojump
	url = https://github.com/joelthelion/autojump
